<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link rel="stylesheet" href="css/style.css">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<script>var session_id = "<%= session_id %>";var sample_id = "<%= sample_id %>";</script>

	<title>Rate filters</title>
</head>
<body>

<div class="container instructions">
	<div class="row">
		<div class="col-sm-12">
			<h1>Scimus - Filters</h1>
			<p>Please rate the following sounds according to the given aspects. Each sound lasts 15 seconds. The rating scales go from -3 (not at all) to 3 (very). It takes approximately 30 minutes to complete the test. Please use headphones or good quality speakers in a quiet sound environnement. Thank you in advance for your participation.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4 offset-sm-4">
			<a class="btn btn-primary" href="rate?session_id=<%= session_id %>&sample_id=<%= sample_id %>" role="button" id="start_test">Start Test</a>
		</div>
	</div>
</div>


</body>
</html>